server {

    listen                  <%= @server_port %>;
    server_name             <%= @server_names %>;

    error_log               /var/www/<%= @name %>/www/log/error.log;
    access_log              /var/www/<%= @name %>/www/log/access.log combined;

    root                    /var/www/<%= @name %>/www/public/;
    index                   index.html index.htm index.php;

    client_max_body_size             8m;	
    client_body_buffer_size          8m;
    client_header_buffer_size        8m;

    location ~ \.php$ {
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;
        fastcgi_split_path_info ^(.+\.php)(.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
	
    location ~ /\.ht {
        deny all;
    }

    autoindex off;

    location / {
        if ($http_host !~ "^citypath\.be:<%= @server_port %>"){
            rewrite ^(.*)$ http://citypath.be:<%= @server_port %>/$1 redirect;
        }
        rewrite ^/$ http://citypath.be:<%= @server_port %>/gent/ redirect;
        if (!-e $request_filename){
            rewrite ^(.*)$ /index.php last;
        }

 	    if (!-e $request_filename){
    	    rewrite ^(.*)$ /$1/ last;
        }
   }

	rewrite ^/auth/(.*)$ /assets/inc/ext/hybridauth/$1 last;
	rewrite ^/auth(/?)$ /assets/inc/ext/hybridauth/$1 last;
}