server { 
  listen          <%= @server_port %>;
  server_name     <%= @server_names %>;
  
  error_log       /var/www/<%= @name %>/www/log/error.log;
  access_log      /var/www/<%= @name %>/www/log/access.log combined;
  
  root            /var/www/<%= @name %>/booking/public/Symfony/web/;
        
	# strip app.php/ prefix if it is present
  rewrite ^/app\.php/?(.*)$ /$1 permanent;
 
  location / {
  	index app.php;
  	try_files $uri @rewriteapp;
  }
 
  location @rewriteapp {
  	rewrite ^(.*)$ /app.php/$1 last;
 	}
 
  # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
  location ~ ^/(app|app_dev)\.php(/|$) {
  	fastcgi_pass   127.0.0.1:9000;
  	fastcgi_split_path_info ^(.+\.php)(/.*)$;
  	include fastcgi_params;
  	fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name;
  	fastcgi_param  HTTPS              on;
  }
} 