user <%= @node[:nginx][:default_user] %>;
worker_processes <%= @node[:nginx][:worker_processes] %>;
pid /var/run/nginx.pid;

events {
	worker_connections <%= @node[:nginx][:worker_connections] %>;
	# multi_accept on;
}

http {

	##
	# Basic Settings
	##

	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	#keepalive_timeout 65;
	types_hash_max_size 2048;

	server_tokens		        	off;
	#client_body_buffer_size		1k;
	#client_header_buffer_size 	 	1k;
	#client_max_body_size		 	1k;
	#large_client_header_buffers    2 1k;
	#limit_zone_slimits		 		5m;
	#limit_conn_slimits		 		5m;
	#client_body_timeout 		 	10;
	#client_header_timeout		 	10;
	#send_timeout  		         	10;
	#keepalive_timeout				5 5;

	# server_names_hash_bucket_size 64;
	# server_name_in_redirect off;

	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	##
	# Logging Settings
	##

	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log;

	##
	# Gzip Settings
	##

	gzip on;
	gzip_disable "msie6";

	# gzip_vary on;
	# gzip_proxied any;
	# gzip_comp_level 6;
	# gzip_buffers 16 8k;
	# gzip_http_version 1.1;
	# gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

	##
	# nginx-naxsi config
	##
	# Uncomment it if you installed nginx-naxsi
	##

	#include /etc/nginx/naxsi_core.rules;

	##
	# nginx-passenger config
	##
	# Uncomment it if you installed nginx-passenger
	##
	
	#passenger_root /usr;
	#passenger_ruby /usr/bin/ruby;

	##
	# Virtual Host Configs
	##

	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*;
}